@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@300;400;500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
}

h1,
h2 {
	font-family: 'Lora', serif;
}

/* making classes using @apply */

.input-style {
	@apply w-full px-2 py-4 border border-gray-400 rounded text-gray-400 focus:outline-none focus-within:text-gray-900 focus-within:border-gray-300;
}
